.mediaViewInfo {
	--web-view-name: Create Split QR – 1;
	--web-view-id: Create_Split_QR___1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Create_Split_QR___1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Create_Split_QR___1 {
	position: absolute;
	width: 375px;
	height: 812px;
	background-color: rgba(242,243,247,1);
	overflow: hidden;
	--web-view-name: Create Split QR – 1;
	--web-view-id: Create_Split_QR___1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
.Rectangle_17378 {
	filter: drop-shadow(2px 5px 10px rgba(221, 228, 239, 1));
	position: absolute;
	overflow: visible;
	width: 74px;
	height: 74px;
	left: 311px;
	top: 44px;
}
#Navigation_bar {
	position: absolute;
	width: 335px;
	height: 44px;
	left: 20px;
	top: 44px;
	overflow: visible;
}
#Create_Split {
	position: absolute;
	left: 101px;
	top: 13px;
	overflow: visible;
	width: 135px;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(0,0,0,1);
}
#Back_button {
	position: absolute;
	width: 44px;
	height: 44px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_17378_ge {
	filter: drop-shadow(2px 5px 10px rgba(221, 228, 239, 1));
	position: absolute;
	overflow: visible;
	width: 74px;
	height: 74px;
	left: 0px;
	top: 0px;
}
.Rectangle_17379 {
	filter: drop-shadow(-2px -2px 10px rgba(255, 255, 255, 1));
	position: absolute;
	overflow: visible;
	width: 74px;
	height: 74px;
	left: 0px;
	top: 0px;
}
#Path_8442 {
	opacity: 0.3;
}
.Path_8442 {
	overflow: visible;
	position: absolute;
	width: 10.781px;
	height: 18.734px;
	left: 18.5px;
	top: 14.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Menu {
	position: absolute;
	width: 44px;
	height: 44px;
	left: 291px;
	top: 0px;
	overflow: visible;
}
.Rectangle_17379_gi {
	filter: drop-shadow(-2px -2px 10px rgba(255, 255, 255, 1));
	position: absolute;
	overflow: visible;
	width: 74px;
	height: 74px;
	left: 0px;
	top: 0px;
}
#Group_3444 {
	position: absolute;
	width: 18px;
	height: 16px;
	left: 13px;
	top: 14px;
	overflow: visible;
}
#Rectangle_17381 {
	opacity: 0.3;
}
.Rectangle_17381 {
	position: absolute;
	overflow: visible;
	width: 18px;
	height: 2px;
	left: 0px;
	top: 0px;
}
#Rectangle_17382 {
	opacity: 0.3;
}
.Rectangle_17382 {
	position: absolute;
	overflow: visible;
	width: 18px;
	height: 2px;
	left: 0px;
	top: 14px;
}
#Rectangle_17383 {
	opacity: 0.3;
}
.Rectangle_17383 {
	position: absolute;
	overflow: visible;
	width: 12px;
	height: 2px;
	left: 6px;
	top: 7px;
}
#Transactions {
	position: absolute;
	left: 20px;
	top: 527px;
	overflow: visible;
	width: 138px;
	white-space: nowrap;
	text-align: left;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(0,0,0,1);
}
#Sent_BTC {
	position: absolute;
	width: 335px;
	height: 76px;
	left: 20px;
	top: 571px;
	overflow: visible;
}
#Group_3417 {
	position: absolute;
	width: 335px;
	height: 76px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_17378_gq {
	filter: drop-shadow(2px 5px 10px rgba(221, 228, 239, 1));
	position: absolute;
	overflow: visible;
	width: 365px;
	height: 106px;
	left: 0px;
	top: 0px;
}
.Rectangle_17379_gr {
	filter: drop-shadow(-5px -2px 10px rgba(255, 255, 255, 1));
	position: absolute;
	overflow: visible;
	width: 365px;
	height: 106px;
	left: 0px;
	top: 0px;
}
#Group_3456 {
	position: absolute;
	width: 107px;
	height: 39px;
	left: 75px;
	top: 20px;
	overflow: visible;
}
#Sent {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 38px;
	white-space: nowrap;
	text-align: left;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#ID03_January__2020_gv {
	opacity: 0.4;
	position: absolute;
	left: 0px;
	top: 25px;
	overflow: visible;
	width: 108px;
	white-space: nowrap;
	text-align: left;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
#ID03_January__2020_gv {
	opacity: 0.4;
	position: absolute;
	left: 0px;
	top: 25px;
	overflow: visible;
	width: 108px;
	white-space: nowrap;
	text-align: left;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
#Group_3455 {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 15px;
	top: 18px;
	overflow: visible;
}
#Group_3428 {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_17378_gy {
	filter: drop-shadow(2px 5px 10px rgba(221, 228, 239, 1));
	position: absolute;
	overflow: visible;
	width: 70px;
	height: 70px;
	left: 0px;
	top: 0px;
}
.Rectangle_17379_gz {
	filter: drop-shadow(-5px -2px 10px rgba(255, 255, 255, 1));
	position: absolute;
	overflow: visible;
	width: 70px;
	height: 70px;
	left: 0px;
	top: 0px;
}
.ic_arrow_upward_24px {
	overflow: visible;
	position: absolute;
	width: 18.589px;
	height: 18.589px;
	left: 11.064px;
	top: 11.064px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3458 {
	position: absolute;
	width: 68px;
	height: 36px;
	left: 252px;
	top: 21px;
	overflow: visible;
}
#_0_33_BTC {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 69px;
	white-space: nowrap;
	text-align: right;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(0,0,0,1);
}
#_2113_09 {
	opacity: 0.3;
	position: absolute;
	left: 11px;
	top: 22px;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	text-align: right;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
#Received_btc {
	opacity: 0.22;
	position: absolute;
	width: 335px;
	height: 76px;
	left: 20px;
	top: 667px;
	overflow: visible;
}
#bg {
	position: absolute;
	width: 335px;
	height: 76px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_17378_g {
	filter: drop-shadow(2px 5px 10px rgba(221, 228, 239, 1));
	position: absolute;
	overflow: visible;
	width: 365px;
	height: 106px;
	left: 0px;
	top: 0px;
}
.Rectangle_17379_g {
	filter: drop-shadow(-5px -2px 10px rgba(255, 255, 255, 1));
	position: absolute;
	overflow: visible;
	width: 365px;
	height: 106px;
	left: 0px;
	top: 0px;
}
#Text {
	position: absolute;
	width: 107px;
	height: 39px;
	left: 75px;
	top: 20px;
	overflow: visible;
}
#Received {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 76px;
	white-space: nowrap;
	text-align: left;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#ID04_January__2020 {
	opacity: 0.4;
	position: absolute;
	left: 0px;
	top: 25px;
	overflow: visible;
	width: 108px;
	white-space: nowrap;
	text-align: left;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
#Icon {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 15px;
	top: 18px;
	overflow: visible;
}
#Group_3428_hc {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_17378_hd {
	filter: drop-shadow(2px 5px 10px rgba(221, 228, 239, 1));
	position: absolute;
	overflow: visible;
	width: 70px;
	height: 70px;
	left: 0px;
	top: 0px;
}
.Rectangle_17379_he {
	filter: drop-shadow(-5px -2px 10px rgba(255, 255, 255, 1));
	position: absolute;
	overflow: visible;
	width: 70px;
	height: 70px;
	left: 0px;
	top: 0px;
}
.ic_arrow_upward_24px_hf {
	overflow: visible;
	position: absolute;
	width: 18.589px;
	height: 18.589px;
	left: 11.064px;
	top: 11.064px;
	transform: matrix(1,0,0,1,0,0);
}
#BTC {
	position: absolute;
	width: 72px;
	height: 36px;
	left: 248px;
	top: 21px;
	overflow: visible;
}
#_0_23_BTC {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	text-align: right;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(0,0,0,1);
}
#_1333_05 {
	opacity: 0.3;
	position: absolute;
	left: 14px;
	top: 22px;
	overflow: visible;
	width: 59px;
	white-space: nowrap;
	text-align: right;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
#Buttons {
	position: absolute;
	width: 375px;
	height: 105px;
	left: 0px;
	top: 707px;
	overflow: visible;
}
.Rectangle_17384 {
	filter: drop-shadow(0px 0px 20px rgba(87, 87, 87, 0.149));
	position: absolute;
	overflow: visible;
	width: 435px;
	height: 165px;
	left: 0px;
	top: 0px;
}
#Component_7___3 {
	position: absolute;
	width: 324px;
	height: 54px;
	left: 26px;
	top: 26px;
	overflow: visible;
}
#Group_3464 {
	position: absolute;
	width: 152px;
	height: 54px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#bg_hn {
	position: absolute;
	width: 152px;
	height: 54px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_17378_ho {
	filter: drop-shadow(2px 5px 10px rgba(221, 228, 239, 1));
	position: absolute;
	overflow: visible;
	width: 182px;
	height: 84px;
	left: 0px;
	top: 0px;
}
.Rectangle_17379_hp {
	filter: drop-shadow(-5px -2px 10px rgba(255, 255, 255, 1));
	position: absolute;
	overflow: visible;
	width: 182px;
	height: 84px;
	left: 0px;
	top: 0px;
}
#Group_3461 {
	position: absolute;
	width: 61px;
	height: 17px;
	left: 47px;
	top: 20px;
	overflow: visible;
}
#Send {
	position: absolute;
	left: 21px;
	top: 0px;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: left;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(56,182,255,1);
}
.ic_near_me_24px {
	overflow: visible;
	position: absolute;
	width: 13.739px;
	height: 13.739px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3465 {
	position: absolute;
	width: 152px;
	height: 54px;
	left: 172px;
	top: 0px;
	overflow: visible;
}
#bg_hu {
	position: absolute;
	width: 152px;
	height: 54px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_17378_hv {
	filter: drop-shadow(2px 5px 10px rgba(221, 228, 239, 1));
	position: absolute;
	overflow: visible;
	width: 182px;
	height: 84px;
	left: 0px;
	top: 0px;
}
.Rectangle_17379_hw {
	filter: drop-shadow(-5px -2px 10px rgba(255, 255, 255, 1));
	position: absolute;
	overflow: visible;
	width: 182px;
	height: 84px;
	left: 0px;
	top: 0px;
}
#Group_3463 {
	position: absolute;
	width: 81px;
	height: 17px;
	left: 37px;
	top: 20px;
	overflow: visible;
}
#Receive {
	opacity: 0.3;
	position: absolute;
	left: 19px;
	top: 0px;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(0,0,0,1);
}
#ic_near_me_24px_hz {
	opacity: 0.3;
}
.ic_near_me_24px_hz {
	overflow: visible;
	position: absolute;
	width: 13.739px;
	height: 13.739px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Catagory {
	position: absolute;
	width: 329px;
	height: 32px;
	left: 23px;
	top: 192px;
	overflow: visible;
}
#Active {
	position: absolute;
	width: 329px;
	height: 32px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Subject {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 88px;
	white-space: nowrap;
	text-align: left;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
.Rectangle_17380 {
	position: absolute;
	overflow: visible;
	width: 329px;
	height: 2px;
	left: 0px;
	top: 30px;
}
#Catagory_h {
	position: absolute;
	width: 329px;
	height: 32px;
	left: 23px;
	top: 268px;
	overflow: visible;
}
#Active_h {
	position: absolute;
	width: 329px;
	height: 32px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Total {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	text-align: left;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
.Rectangle_17380_h {
	position: absolute;
	overflow: visible;
	width: 329px;
	height: 2px;
	left: 0px;
	top: 30px;
}
#Catagory_ia {
	position: absolute;
	width: 329px;
	height: 32px;
	left: 23px;
	top: 344px;
	overflow: visible;
}
#Active_ia {
	position: absolute;
	width: 329px;
	height: 32px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Amount {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	text-align: left;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
.Rectangle_17380_ib {
	position: absolute;
	overflow: visible;
	width: 329px;
	height: 2px;
	left: 0px;
	top: 30px;
}