<ion-view hide-nav-bar="true" ng-init="checkUser()">
  <ion-content class="padding">

    <head>
      <link href="css/home.css" rel="stylesheet">
    </head>

    <body>
      <div>
        <br><br>
        <img src="img/easy_split_logo.png" id="logo">
        <br><br>
        <div id="balance">
          <p id="balance_title">EasySplit Balance</p>
          <p ng-if="data.balance!=false" id="balance_amount">€ {{data.balance}}</p>
          <p ng-if="data.balance==false" id="balance_amount"> - </p>
        </div>
        <br>
        <div id="main_buttons">
          <button>Create Split</button>
          <button>Join Split</button>
        </div>
        <br>
        <div id="secondary_buttons">
          <button ng-click="sendMoney()">Send</button>
          <span id="secondary_buttons_separator">
          <button ng-click="receiveMoney()">Receive</button>
        </div>
        <br><br>
        <div id="history">
          <p>History</p>
          <hr id=history_line>
        </div>
      </div>
    </body>
  </ion-content>
</ion-view>
