<ion-view hide-nav-bar="true" ng-init="checkUser()">
  <ion-content class="padding">

    <head>
      <link href="css/send.css" rel="stylesheet">
    </head>

    <body>
      <div class="item" id="header">
        <ion-button class="button-icon" id="nav_back_button" ng-click="goBack()">Back</ion-button>
        <img src="img/easy_split_logo.png" id="split_logo">
        <br><br>
      </div>

      <div id="send_money_title">
        <p>Send Money</p>
        <hr id=history_line>
      </div>

      <div id="balance">
        <!-- <p id="balance_title"> <strong>Available Balance: </strong> € {{data.balance}}</p> -->

        <p ng-if="data.balance!=false" id="balance_title"><strong>Available Balance: </strong> € {{data.balance}}</p>
        <p ng-if="data.balance==false" id="balance_title"><strong>Available Balance: </strong> </p>
        <!-- <p ng-if="data.balance!=false" id="balance_amount">€ {{data.balance}}</p>
        <p ng-if="data.balance==false" id="balance_amount"> - </p> -->
      </div>


      <div id="send_form">
        <input type="text" placeholder="Receiver" ng-model="data.receiver" id="receiver">
        <input type="number" placeholder="Amount" ng-model="data.amount">
      </div>

      <br><br><br><br><br><br><br><br>

      <div id=send_button>
        <button ng-click="sendMoney()">Send</button>
      </div>

    </body>
  </ion-content>
</ion-view>
