<uses-permission android:name="android.permission.CAMERA" />

<ion-view hide-nav-bar="true" ng-init="checkUser()">

  <ion-content class="padding">

    <head>
      <link href="css/split.css" rel="stylesheet">
    </head>

    <body ng-app="starter" ng-controller="CamCtrl">

      <div id="header">
        <br><br>
        <img src="img/easy_split_logo.png" ng-click="goBack()" id="logo">
        <br>
      </div>

      <div class="item">
        <h2 id="title">Join Split</h2>
        <p id="description">It's easy, just <strong>open the camera and scan!</strong></p>
      </div>
      <div class="item item-image">
        <img ng-src={{no_photo}} id="qr_code">
      </div>

      <a class="item item-icon-left positive" ng-click="takepicture()">
        <i class="icon ion-camera"></i>
        Open camera
      </a>
      <br><br>
      <div id="pay_button">
        <button ng-click="clickPayment()">
          Pay Split
        </button>
      </div>

      <script id='orderPopup.html' type='text/ng-template'>


        <div class="item">
            Choose split: {{ data.splitType }}
          </div>
          <ion-radio ng-repeat="item in splitTypeList" ng-model="data.splitType" ng-value="item.text" required>
            {{ item.text }}
          </ion-radio>
          

          <!--<ion-list-header>
            <ion-label id="title">Choose</ion-label>
          </ion-list-header>
          
            <ion-radio ng-repeat="item in splitTypeList" ng-model="data.splitType" ng-value="item.text" required>
              {{item.text}}
            </ion-radio>-->
            
            <!--<ion-checkbox>
            <ion-label>Custom Split</ion-label>
            <ion-radio ng-repeat="start" color="success" value="apple"></ion-radio>
            </ion-checkbox>-->
      </script>
    </body>
  </ion-content>
</ion-view>
