<uses-permission android:name="android.permission.CAMERA" />

<ion-view hide-nav-bar="true" ng-init="checkUser()">

  <ion-content class="padding">

    <head>
      <link href="css/split.css" rel="stylesheet">
    </head>

    <body ng-app="starter" ng-controller="CamCtrl">
  
      <div class="item">
        
      
        <ion-button class="button-icon" id="nav_back_button">Back</ion-button>
        <img src="img/easy_split_logo.png" id="logo">
      </div>
      <div class="item">
        <h2 id="title">Join Split</h2>
        <p id="description">It's easy, just <strong>open the camera and scan!</strong></p>
      </div>
      <div class="item item-image">
        <img ng-src={{no_photo}} id="qr_code">
      </div>

      <a class="item item-icon-left positive" ng-click="takepicture()">
        <i class="icon ion-camera"></i>
        Open camera
      </a>
      <br><br>
      <div id="pay_button">
        <button ng-click="recognizepic()">
          Pay Split
        </button>
      </div>
      <!--<div class="list">
        <div class="item item-divider">
          Choose split: {{data.splitType}}
        </div>
        <ion-radio ng-repeat="item in splitTypeList" ng-model="data.splitType" ng-value="item.text" required>
          {{ item.text }}
        </ion-radio>
      </div>-->

    </body>
  </ion-content>
</ion-view>
