.padding {
  background-color: #F2F3F7;
}


#logout {
  text-align: right;
  margin-right: 25px;
}

#logout_img {
  width: 25px;
  margin-left: auto;
}

#logo {
  width: 180px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#balance {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 14pt;
  width: 320px;
  padding: 13px;
  border-radius: 10px;
  box-shadow:
    0em 0em 3em white,
    0em 0em 0.2em #d2e0e7;
}

#balance_title {
  font-size: 12pt;
  color: grey;
  text-align: center;
  margin-bottom: 15px;
}

#balance_amount {
  font-size: 24pt;
  text-align: center;
}

#main_buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#secondary_buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

#main_buttons button {
  width: 350px;
  padding: 15px;
  border-radius: 10px;
  background-color: #38B6FF;
  color: white;
  font-size: 18pt;
  margin-bottom: 15px;
  box-shadow: white;
}

#secondary_buttons button {
  width: 150px;
  padding: 10px;
  border: transparent;
  border-radius: 5px;
  background-color: transparent;
  color: black;
  font-size: 14pt;
  box-shadow:
    0em 0em 3em white,
    0em 0em 0.2em #d2e0e7;
}

#secondary_buttons_separator {
  margin-left: 30px
}

#history {
  font-size: 18pt;
  margin-left: 10px;
}