.padding {
  background-color: #F2F3F7;
}

#logo {
	width:160px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#balance {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 14pt;
  width: 300px;
  padding: 13px;
  border-radius: 10px;
  box-shadow: 
			 0em 0em 3em white, 
             0em 0em 0.2em #d2e0e7;
}

#balance_title {
  font-size: 12pt;
  color: grey;
  text-align: center;
  margin-bottom: 15px;
}

#balance_amount {
  font-size: 24pt;
  text-align: center;
}

#main_buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#secondary_buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

#main_buttons button {
  width: 280px;
  padding: 15px;
  border: 1px solid;
  border-radius: 10px;
  background-color: #38B6FF;
  color: white;
  font-size: 18pt;
  margin-bottom: 15px;
  box-shadow: white;
}

#secondary_buttons button {
  width: 120px;
  padding: 10px;
  border-radius: 5px;
  background-color: transparent;
  color: black;
  font-size: 14pt;
  margin-bottom: 15px;
  box-shadow: white
}

#secondary_buttons_separator {
  margin-left: 30px
}

#history {
  font-size: 18pt;
}
