.padding {
  background-color: #F2F3F7;
}

#logo-login {
  width: 220px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.list {
  background-color: #F2F3F7;
}

.item {
  background-color: #F2F3F7;
  outline: 0;
  border-width: 0 0 2px;
  border-color: #83888b;
}

input[type="text"],
input[type="password"] {
  font-size: 18px;
}

#button-login {
  background-color: #38B6FF;
}

#login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#login_form input {
  height: 50px;
  width: 300px;
  font-size: 14pt;
  text-align: left;
  border-width: 0;
  display: block;
  min-width: 250px;
  border-bottom: 1px solid #3f90d0;
  padding: 0 5px 0 5px;
  background-color: transparent;
  margin-bottom: 15px;
}

#incorrect_login {
  display: flex;
  flex-direction: row;
  margin-left: 40px;
  color: red;
  margin-right: 40px;
}

#signup {
  display: flex;
  flex-direction: row;
  margin-left: 40px;
}

#login_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#login_button button {
  width: 350px;
  padding: 15px;
  border-radius: 10px;
  background-color: #38B6FF;
  color: white;
  font-size: 18pt;
  margin-bottom: 15px;
  box-shadow: white;
}
