.padding {
  background-color: #F2F3F7;
}

.item {
  background-color: #F2F3F7;
}

#button-login {
  background-color: #38B6FF;
}

#logo-login {
  width: 220px;
  /* height: 85px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}
