.padding {
  background-color: #F2F3F7;
}

#logo {
  width: 180px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#send_money_title {
  margin-top: 40px;
  font-size: 18pt;
  margin-left: 10px;
  margin-bottom: 20px;
}

#balance {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 14pt;
  width: 320px;
  padding: 13px;
  border-radius: 10px;
  box-shadow:
    0em 0em 3em white,
    0em 0em 0.2em #d2e0e7;
  margin-bottom: 20px;
}

#balance_title {
  font-size: 12pt;
  color: black;
  text-align: center;
}

#send_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#send_form input {
  height: 50px;
  width: 300px;
  font-size: 14pt;
  text-align: left;
  border-width: 0;
  display: block;
  min-width: 250px;
  border-bottom: 1px solid grey;
  padding: 0 5px 0 5px;
  background-color: transparent;
  margin-bottom: 15px;
}

#send_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#send_button button {
  width: 350px;
  padding: 15px;
  border-radius: 10px;
  background-color: #38B6FF;
  color: white;
  font-size: 18pt;
  margin-bottom: 15px;
  box-shadow: white;
}
