.padding {
  background-color: #F2F3F7;
}


#header {
  display: flex;
  flex-direction: row;
}

#nav_back_button {
  margin-left: 0px;
  padding: 10px;
  height: 40px;
  color: #38B6FF;
  font-size: 18px;
  border-radius: 10px;
}


#split_logo {
  width: 180px;
  margin-top: auto;
  margin-left: auto;
  margin-right: 90px;
  margin-bottom: auto;
}

#title {
  font-size: 16pt;
}

#description {
  font-size: 12pt;
}

#qr_code {
  width: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#pay_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#pay_button button {
  width: 350px;
  padding: 15px;
  border-radius: 10px;
  background-color: #38B6FF;
  color: white;
  font-size: 18pt;
  margin-bottom: 15px;
  box-shadow: white;
}
