.mediaViewInfo {
	--web-view-name: Log-in;
	--web-view-id: Log_in;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Log_in;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Log_in {
	position: absolute;
	width: 375px;
	height: 812px;
	background-color: rgba(242,243,247,1);
	overflow: hidden;
	--web-view-name: Log-in;
	--web-view-id: Log_in;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Home_Bar___ {
	position: absolute;
	width: 375px;
	height: 44px;
	left: 0px;
	top: 768px;
	overflow: visible;
}
.Rectangle_157 {
	position: absolute;
	overflow: visible;
	width: 375px;
	height: 44px;
	left: 0px;
	top: 0px;
}
.Rectangle_156 {
	position: absolute;
	overflow: visible;
	width: 130px;
	height: 5px;
	left: 123px;
	top: 27px;
}
#ID1 {
	position: absolute;
	width: 241px;
	height: 122px;
	left: 67px;
	top: 90px;
	overflow: visible;
}
#Active {
	position: absolute;
	width: 329px;
	height: 32px;
	left: 23px;
	top: 293px;
	overflow: visible;
}
#Email {
	opacity: 0.398;
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 66px;
	white-space: nowrap;
	text-align: left;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(32,36,38,1);
}
.Rectangle_17380 {
	position: absolute;
	overflow: visible;
	width: 329px;
	height: 2px;
	left: 0px;
	top: 30px;
}
#Active_wl {
	position: absolute;
	width: 329px;
	height: 32px;
	left: 23px;
	top: 379px;
	overflow: visible;
}
#Password {
	opacity: 0.398;
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	text-align: left;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(32,36,38,1);
}
.Rectangle_17380_wn {
	position: absolute;
	overflow: visible;
	width: 329px;
	height: 2px;
	left: 0px;
	top: 30px;
}
#Group_3482 {
	position: absolute;
	width: 375px;
	height: 105px;
	left: 0px;
	top: 707px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Home___1.html;
	cursor: pointer;
}
.Rectangle_17384 {
	filter: drop-shadow(0px 0px 20px rgba(87, 87, 87, 0.149));
	position: absolute;
	overflow: visible;
	width: 435px;
	height: 165px;
	left: 0px;
	top: 0px;
}
#Group_3464 {
	position: absolute;
	width: 321px;
	height: 54px;
	left: 27px;
	top: 26px;
	overflow: visible;
}
#bg {
	position: absolute;
	width: 321px;
	height: 54px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_17378 {
	filter: drop-shadow(2px 5px 10px rgba(221, 228, 239, 1));
	position: absolute;
	overflow: visible;
	width: 351px;
	height: 84px;
	left: 0px;
	top: 0px;
}
.Rectangle_17379 {
	filter: drop-shadow(-5px -2px 10px rgba(255, 255, 255, 1));
	position: absolute;
	overflow: visible;
	width: 351px;
	height: 84px;
	left: 0px;
	top: 0px;
}
#Group_3461 {
	position: absolute;
	width: 62px;
	height: 22px;
	left: 130px;
	top: 18px;
	overflow: visible;
}
#Log_In {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	text-align: left;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(56,182,255,1);
}
#Don_t_have_an_account__Sign_up {
	opacity: 0.743;
	position: absolute;
	left: 25px;
	top: 445px;
	overflow: visible;
	width: 200px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Sign_Up.html;
	cursor: pointer;
	text-align: left;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,0,0,1);
}